<!DOCTYPE html>
<html>
<head>
    <title>House Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>House Price Prediction</h1>

    <form action="/predict" method="post">

        <input type="number" name="OverallQual"
            placeholder="Quality (1-10)" required>

        <input type="number" name="GrLivArea"
            placeholder="Living Area (800-5000 sq ft)" required>

        <input type="number" name="GarageCars"
            placeholder="Garage Capacity (0-4)" required>

        <input type="number" name="TotalBsmtSF"
            placeholder="Basement Area (0-3000 sq ft)" required>

        <input type="number" name="YearBuilt"
            placeholder="Year Built (1900-2025)" required>

        <button type="submit">Predict</button>

    </form>

    <h2>{{ prediction_text }}</h2>

</div>

</body>
</html>